body {
  background-color: pink;
  margin: 10px;
  font-family: fantasy;
  color: #129eaa;
}

hr {
  border: 2px solid #129eaa;
}

div {
  background-image: url("../assets/images/LOGO_LAB.png");
  background-size: cover;
  background-position: center;
}

main {
  margin-left: 10%;
  overflow: hidden;
}

.efects { /*se agregan estas propiedades para lograr efecto de voletar cartas*/
  transform-style: preserve-3d;
  transition: 2s;
}

.card {
  float: left;
  height: 200px;
  margin: 4% 5%;
  width: 20%;
  /*transform-style: preserve-3d;
  transition: 2s;*/ se pasan estas propiedades a una nueva clase (efects) para incorporarlas dinamicamente en js
}

.rotation-efect {
  transform: rotateY(180deg);
}

.card-1[select=true] {
  background-image: url("../assets/images/cabin.png");
  background-size: cover;
  /*transform: rotateY(180deg);*/ se saca esta propiedad para pasarla a una nueva clase (rotation-efect) y utilizarla dinamicamente en js
}

.card-2[select=true] {
  background-image: url("../assets/images/cake.png");
  background-size: cover;
  background-position: center;
}

.card-3[select=true] {
  background-image: url("../assets/images/circus.png");
  background-size: cover;
}

.card-4[select=true] {
  background-image: url("../assets/images/game.png");
  background-size: cover;
}

.card-comodin[select=true] {
  background-image: url("../assets/images/submarine.png");
  background-size: cover;
}
